<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myblog.mapper.ArticleMapper">
    <sql id="aArticle">
        art_id, art_title, art_time, art_info, art_url, content, art_permission, art_viewers, art_comments, art_likes, user_id, user_name, art_type
    </sql>

    <insert id="addArticle" parameterType="com.myblog.entity.Article">
        insert into articles (art_title, art_info, art_url, content, user_id, art_type) values(#{art_title}, #{art_info}, #{art_url}, #{content}, #{user_id}, #{art_type})
    </insert>

    <select id="showArticle" resultType="com.myblog.entity.Article">
        select <include refid="aArticle"/> from articles natural join users
    </select>

    <select id="selectArticle" resultType="com.myblog.entity.Article">
        select art_id, art_title, art_time, art_info, art_url, art_viewers, art_comments, art_likes from articles where art_permission = 2
    </select>

    <select id="showSomeArticle" resultType="com.myblog.entity.Article">
        select <include refid="aArticle"/> from articles natural join users
        <where>
            <if test="art_title != null and art_title != ''">
                art_title like concat(concat('%',#{art_title}),'%')
            </if>
            <if test="art_permission != 0">
                and art_permission = #{art_permission}
            </if>
            <if test="art_type != '' and art_type != null">
                and art_type = #{art_type}
            </if>
        </where>
    </select>

    <select id="showArticleById" resultType="com.myblog.entity.Article">
        select <include refid="aArticle" /> from articles natural join users where art_id = #{art_id}
    </select>

    <update id="updateArtPer" parameterType="Map">
        update articles set art_permission = #{art_permission} where art_id = #{art_id}
    </update>
</mapper>