<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myblog.mapper.CommentMapper">
    <sql id="aComment">
        com_id, com_info, com_time, user_name, comments.user_id, comments.art_id, com_permission, com_fa_id, art_title
    </sql>
    <select id="showCommentByArt" parameterType="Long" resultType="com.myblog.entity.Comment">
        select <include refid="aComment" /> from comments, articles, users where com_permission = 2 and comments.art_id = #{art_id} and comments.art_id = articles.art_id and comments.user_id = users.user_id
    </select>

    <select id="selectAllComment" parameterType="Map" resultType="com.myblog.entity.Comment">
        select <include refid="aComment" /> from comments, articles, users
        <where>
            <if test="1==1">
              comments.art_id = articles.art_id and comments.user_id = users.user_id
            </if>
            <if test="user_name != null">
                user_name = #{user_name}
            </if>
            <if test="art_title != null">
                art_title = #{art_title}
            </if>
            <if test="com_permission != null">
                com_permission = #{com_permission}
            </if>
        </where>
        order by com_id limit #{index},#{limit}
    </select>

    <select id="selectCommentCount" parameterType="Map" resultType="Integer">
        select count(*) from comments, articles, users
        <where>
            <if test="1==1">
                comments.art_id = articles.art_id and comments.user_id = users.user_id
            </if>
            <if test="user_name != null">
                user_name = #{user_name}
            </if>
            <if test="art_title != null">
                art_title = #{art_title}
            </if>
            <if test="com_permission != null">
                com_permission = #{com_permission}
            </if>
        </where>
    </select>

    <insert id="insertComment" parameterType="Map">
        insert into comments (com_info, user_id, art_id, com_fa_id) values (#{com_info}, #{user_id}, #{art_id}, #{com_fa_id})
    </insert>
    
    <update id="operateComment">
        update comments set com_permission = #{0} where com_id = #{1}
    </update>
</mapper>