<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myblog.mapper.UserMapper">
    <sql id="aUser">
        user_id, user_name, password, email, permission, reg_time, img_url
    </sql>

    <select id="selectAllUser" resultType="com.myblog.entity.User">
        select <include refid="aUser" /> from users
    </select>

    <select id="selectUserById" resultType="com.myblog.entity.User" parameterType="java.lang.Long">
        select  <include refid="aUser" /> from  users where user_id = #{user_id,jdbcType=BIGINT}
    </select>

    <select id="selectUserByName" resultType="com.myblog.entity.User">
        select <include refid="aUser" /> from users
        <where>
            <if test="user_name != '' and user_name != null">
                user_name like concat(concat('%',#{user_name}),'%')
            </if>
            <if test="permission != 0">
                and permission = #{permission,jdbcType=SMALLINT}
            </if>
        </where>
    </select>

    <select id="loginByName" resultType="com.myblog.entity.User" parameterType="java.lang.String">
        select <include refid="aUser" /> from users where user_name = #{user_name}
    </select>

    <update id="updateUserById" parameterType="com.myblog.entity.User">
        update users
        <set>
            <if test="user_name != '' and user_name != null">
                user_name = #{user_name},
            </if>
            <if test="password != '' and password != null">
                password = #{password},
            </if>
            <if test="email != '' and email != null">
                user_name = #{user_name},
            </if>
            <if test="permission != '' and password != null">
                permission = #{permission, jdbcType=SMALLINT},
            </if>
        </set>
        where user_id = #{user_id}
    </update>

    <insert id="insertUser" parameterType="com.myblog.entity.User">
        insert into users (user_name, password, email, img_url) values (#{user_name}, #{password}, #{email}, #{img_url})
    </insert>
</mapper>